TITLE

In [3]:
##Load libraries
## Load Libraries
library(readxl)      # import Excel files
library(dplyr)       # data manipulation
library(tidyr)       # data cleaning
library(ggplot2)     # plotting (if needed)
library(broom)       # clean regression output
library(lubridate)   # work with dates
library(knitr)       # tables in Rmd / HTML
library(readr)   # for read_csv()

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [4]:
## Load Data
## Load Data (CSV)
port <- read_csv("6_Portfolios_2x3_Clean.csv")
ff   <- read_csv("F-F_Research_Data_Factors_Clean.csv")

Rows: 1190 Columns: 8
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Month
dbl (7): Year, M1B1, M1B2, M1B3, M2B1, M2B2, M2B3

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1190 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Month
dbl (5): Year, Mkt-RF, SMB, HML, RF

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [5]:
port <- port %>%
  mutate(
    Year = as.numeric(Year),
    Month = trimws(Month)
  )

ff <- ff %>%
  mutate(
    Year = as.numeric(Year),
    Month = trimws(Month)
  )

glimpse(port)
glimpse(ff)

Rows: 1,190
Columns: 8
$ Year  <dbl> 1926, 1926, 1926, 1926, 1926, 1926, 1927, 1927, 1927, 1927, 1927…
$ Month <chr> "July", "August", "September", "October", "November", "December"…
$ M1B1  <dbl> 1.0866, 0.7831, -2.8045, -4.0289, 3.2971, 2.5645, -0.8099, 3.980…
$ M1B2  <dbl> 0.8807, 1.4677, -0.0599, -4.3615, 3.6237, 1.7773, -0.2885, 6.375…
$ M1B3  <dbl> -0.1275, 5.4422, -0.4399, -2.0128, 2.0877, 3.2700, 3.9875, 6.441…
$ M2B1  <dbl> 5.5746, 2.7268, 1.4777, -3.6327, 3.2120, 2.9011, -0.2624, 5.0212…
$ M2B2  <dbl> 1.9060, 2.7028, 0.0954, -2.3451, 2.9346, 2.6210, 0.0340, 3.5906,…
$ M2B3  <dbl> 2.0068, 5.6834, -0.7872, -4.0040, 3.1964, 2.3073, 4.0920, 7.9905…
Rows: 1,190
Columns: 6
$ Year     <dbl> 1926, 1926, 1926, 1926, 1926, 1926, 1927, 1927, 1927, 1927, 1…
$ Month    <chr> "July", "August", "September", "October", "November", "Decemb…
$ `Mkt-RF` <dbl> 2.89, 2.64, 0.38, -3.27, 2.54, 2.62, -0.05, 4.17, 0.14, 0.47,…
$ SMB      <dbl> -2.55, -1.14, -1.36, -0.14, -0.11, -0.07, -0.32, 0.07, -1.77,…
$ HML      <dbl> -2.39, 3.81, 0.05, 0.82, -0.61, 0.06, 4.58, 2.72, -2.38, 0.65…
$ RF       <dbl> 0.22, 0.25, 0.23, 0.32, 0.31, 0.28, 0.25, 0.26, 0.30, 0.25, 0…

In [37]:
data_raw <- inner_join(port, ff, by = c("Year", "Month"))

glimpse(data_raw)
nrow(data_raw)

Rows: 1,190
Columns: 12
$ Year     <dbl> 1926, 1926, 1926, 1926, 1926, 1926, 1927, 1927, 1927, 1927, 1…
$ Month    <chr> "July", "August", "September", "October", "November", "Decemb…
$ M1B1     <dbl> 1.0866, 0.7831, -2.8045, -4.0289, 3.2971, 2.5645, -0.8099, 3.…
$ M1B2     <dbl> 0.8807, 1.4677, -0.0599, -4.3615, 3.6237, 1.7773, -0.2885, 6.…
$ M1B3     <dbl> -0.1275, 5.4422, -0.4399, -2.0128, 2.0877, 3.2700, 3.9875, 6.…
$ M2B1     <dbl> 5.5746, 2.7268, 1.4777, -3.6327, 3.2120, 2.9011, -0.2624, 5.0…
$ M2B2     <dbl> 1.9060, 2.7028, 0.0954, -2.3451, 2.9346, 2.6210, 0.0340, 3.59…
$ M2B3     <dbl> 2.0068, 5.6834, -0.7872, -4.0040, 3.1964, 2.3073, 4.0920, 7.9…
$ `Mkt-RF` <dbl> 2.89, 2.64, 0.38, -3.27, 2.54, 2.62, -0.05, 4.17, 0.14, 0.47,…
$ SMB      <dbl> -2.55, -1.14, -1.36, -0.14, -0.11, -0.07, -0.32, 0.07, -1.77,…
$ HML      <dbl> -2.39, 3.81, 0.05, 0.82, -0.61, 0.06, 4.58, 2.72, -2.38, 0.65…
$ RF       <dbl> 0.22, 0.25, 0.23, 0.32, 0.31, 0.28, 0.25, 0.26, 0.30, 0.25, 0…

[1] 1190

In [38]:
data <- data_raw %>%
  filter(Year > 1989) 
  # filter(!(Year == 1990 & Month != "January"))

data <- data %>%
  rename(
    Mkt_RF = `Mkt-RF`
  )

In [39]:

                        
# portfolio columns
port_cols  <- c("M1B1","M1B2","M1B3","M2B1","M2B2","M2B3")
factor_cols <- c("Mkt_RF","SMB","HML","RF")

# Convert portfolio returns to decimals
for (i in 1:length(port_cols)) {
  colname <- port_cols[i]
  data[, colname] <- data[, colname] / 100
}

# Convert factor returns to decimals
for (i in 1:length(factor_cols)) {
  colname <- factor_cols[i]
  data[, colname] <- data[, colname] / 100
}

In [40]:
for (i in 1:length(port_cols)) {
  base_name <- port_cols[i]
  new_name <- paste(base_name, "excess", sep = "_")  # e.g. "M1B1_excess"
  data[, new_name] <- data[, base_name] - data$RF
}

glimpse(data)

Rows: 428
Columns: 18
$ Year        <dbl> 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990, 1990…
$ Month       <chr> "January", "February", "March", "April", "May", "June", "J…
$ M1B1        <dbl> -0.091838, 0.031594, 0.042862, -0.027648, 0.085332, 0.0104…
$ M1B2        <dbl> -0.075977, 0.027078, 0.039265, -0.031101, 0.065435, 0.0042…
$ M1B3        <dbl> -0.077711, 0.021833, 0.022177, -0.043754, 0.042551, -0.000…
$ M2B1        <dbl> -0.075360, 0.003588, 0.041193, -0.009484, 0.108671, 0.0129…
$ M2B2        <dbl> -0.063034, 0.021523, 0.015048, -0.034187, 0.087757, -0.024…
$ M2B3        <dbl> -0.072912, 0.026283, 0.003918, -0.044872, 0.073724, -0.015…
$ Mkt_RF      <dbl> -0.0780, 0.0112, 0.0183, -0.0336, 0.0843, -0.0109, -0.0190…
$ SMB         <dbl> -0.0114, 0.0097, 0.0147, -0.0047, -0.0256, 0.0135, -0.0308…
$ HML         <dbl> 0.0083, 0.0065, -0.0290, -0.0257, -0.0389, -0.0200, -0.000…
$ RF          <dbl> 0.0057, 0.0057, 0.0064, 0.0069, 0.0068, 0.0063, 0.0068, 0.…
$ M1B1_excess <dbl> -0.097538, 0.025894, 0.036462, -0.034548, 0.078532, 0.0041…
$ M1B2_excess <dbl> -0.081677, 0.021378, 0.032865, -0.038001, 0.058635, -0.002…
$ M1B3_excess <dbl> -0.083411, 0.016133, 0.015777, -0.050654, 0.035751, -0.007…
$ M2B1_excess <dbl> -0.081060, -0.002112, 0.034793, -0.016384, 0.101871, 0.006…
$ M2B2_excess <dbl> -0.068734, 0.015823, 0.008648, -0.041087, 0.080957, -0.030…
$ M2B3_excess <dbl> -0.078612, 0.020583, -0.002482, -0.051772, 0.066924, -0.02…

In [41]:
# Variables to summarize
vars <- c(
  "M1B1_excess","M1B2_excess","M1B3_excess",
  "M2B1_excess","M2B2_excess","M2B3_excess",
  "Mkt_RF","SMB","HML","RF"
)

# Initialize vectors
N    <- numeric(length(vars))
Mean <- numeric(length(vars))
SD   <- numeric(length(vars))
Min  <- numeric(length(vars))
Max  <- numeric(length(vars))

# Compute summary statistics
for (i in 1:length(vars)) {
  col <- data[[ vars[i]]]
  N[i]    <- length(col)
  Mean[i] <- mean(col)
  SD[i]   <- sd(col)
  Min[i]  <- min(col)
  Max[i]  <- max(col)
}

# Build summary table
summary_table <- data.frame(
  Variable = vars,
  N = N,
  Mean = Mean,
  SD = SD,
  Min = Min,
  Max = Max
)

summary_table

   Variable    N   Mean         SD          Min       Max
1  M1B1_excess 428 0.0062546005 0.067529934 -0.245582 0.285231
2  M1B2_excess 428 0.0087619860 0.054125068 -0.215808 0.176856
3  M1B3_excess 428 0.0092375841 0.058213944 -0.279806 0.196277
4  M2B1_excess 428 0.0082013388 0.044453564 -0.156145 0.143297
5  M2B2_excess 428 0.0066193621 0.043316664 -0.192735 0.143832
6  M2B3_excess 428 0.0079989766 0.053815190 -0.273898 0.181638
7  Mkt_RF      428 0.0073397196 0.044067993 -0.172000 0.136000
8  SMB         428 0.0004799065 0.031257803 -0.174100 0.212500
9  HML         428 0.0013885514 0.032358832 -0.138300 0.128600
10 RF          428 0.0022233645 0.001879076  0.000000 0.006900

In [42]:
capm_M1B1 <- lm(M1B1_excess ~ Mkt_RF, data = data)
capm_M1B2 <- lm(M1B2_excess ~ Mkt_RF, data = data)
capm_M1B3 <- lm(M1B3_excess ~ Mkt_RF, data = data)
capm_M2B1 <- lm(M2B1_excess ~ Mkt_RF, data = data)
capm_M2B2 <- lm(M2B2_excess ~ Mkt_RF, data = data)
capm_M2B3 <- lm(M2B3_excess ~ Mkt_RF, data = data)


tidy(capm_M1B1, conf.int = TRUE)

  term        estimate     std.error   statistic p.value       conf.low
1 (Intercept) -0.003276763 0.001758981 -1.862876  6.316777e-02 -0.006734124
2 Mkt_RF       1.298600425 0.039417609 32.944678 3.295038e-119  1.221123211
  conf.high
1 0.0001805986
2 1.3760776393

In [43]:
ff_M1B1 <- lm(M1B1_excess ~ Mkt_RF + SMB + HML, data = data)
ff_M1B2 <- lm(M1B2_excess ~ Mkt_RF + SMB + HML, data = data)
ff_M1B3 <- lm(M1B3_excess ~ Mkt_RF + SMB + HML, data = data)

ff_M2B1 <- lm(M2B1_excess ~ Mkt_RF + SMB + HML, data = data)
ff_M2B2 <- lm(M2B2_excess ~ Mkt_RF + SMB + HML, data = data)
ff_M2B3 <- lm(M2B3_excess ~ Mkt_RF + SMB + HML, data = data)

tidy(ff_M1B1, conf.int = TRUE)

  term        estimate     std.error    statistic  p.value       conf.low
1 (Intercept) -0.002040097 0.0005776394  -3.531784  4.580623e-04 -0.003175491
2 Mkt_RF       1.096110172 0.0133652632  82.011866 3.094469e-262  1.069839749
3 SMB          1.069542239 0.0190102362  56.261386 8.985380e-199  1.032176200
4 HML         -0.189927302 0.0179230290 -10.596831  1.959294e-23 -0.225156355
  conf.high
1 -0.000904704
2  1.122380596
3  1.106908279
4 -0.154698250

In [44]:
CAPM_Alpha <- c(
  coef(capm_M1B1)[1], coef(capm_M1B2)[1], coef(capm_M1B3)[1],
  coef(capm_M2B1)[1], coef(capm_M2B2)[1], coef(capm_M2B3)[1]
)

FF_Alpha <- c(
  coef(ff_M1B1)[1], coef(ff_M1B2)[1], coef(ff_M1B3)[1],
  coef(ff_M2B1)[1], coef(ff_M2B2)[1], coef(ff_M2B3)[1]
)

In [45]:
CAPM_R2 <- c(
  summary(capm_M1B1)$adj.r.squared, summary(capm_M1B2)$adj.r.squared,
  summary(capm_M1B3)$adj.r.squared, summary(capm_M2B1)$adj.r.squared,
  summary(capm_M2B2)$adj.r.squared, summary(capm_M2B3)$adj.r.squared
)

FF_R2 <- c(
  summary(ff_M1B1)$adj.r.squared, summary(ff_M1B2)$adj.r.squared,
  summary(ff_M1B3)$adj.r.squared, summary(ff_M2B1)$adj.r.squared,
  summary(ff_M2B2)$adj.r.squared, summary(ff_M2B3)$adj.r.squared
)

In [46]:
portfolio_names <- c("M1B1","M1B2","M1B3","M2B1","M2B2","M2B3")

comparison <- data.frame(
  Portfolio = portfolio_names,
  CAPM_Alpha = format(CAPM_Alpha, scientific = FALSE),
  FF_Alpha   = FF_Alpha,
  CAPM_R2    = CAPM_R2,
  FF_R2      = FF_R2
)

comparison

  Portfolio CAPM_Alpha     FF_Alpha      CAPM_R2   FF_R2
1 M1B1      -0.00327676256 -0.0020400974 0.7174715 0.9696562
2 M1B2       0.00097195301  0.0008649847 0.7461453 0.9738543
3 M1B3       0.00134138055  0.0005287632 0.6624487 0.9911991
4 M2B1       0.00100198485  0.0013607128 0.9453719 0.9820717
5 M2B2       0.00001740949 -0.0007956943 0.8369979 0.9205242
6 M2B3       0.00041784285 -0.0012055065 0.7147273 0.9496429

In [47]:
portfolios <- c("M1B1","M1B2","M1B3","M2B1","M2B2","M2B3")

f_test_results <- data.frame(
  Portfolio = portfolios,
  F_stat = NA,
  p_value = NA
)

for (i in 1:length(portfolios)) {
  p <- portfolios[i]
  
  capm <- lm(data[[paste0(p, "_excess")]] ~ data$Mkt_RF)
  ff   <- lm(data[[paste0(p, "_excess")]] ~ data$Mkt_RF + data$SMB + data$HML)
  
  test <- anova(capm, ff)
  
  f_test_results$F_stat[i]  <- test$F[2]
  f_test_results$p_value[i] <- test$`Pr(>F)`[2]
}

f_test_results

  Portfolio F_stat    p_value
1 M1B1      1771.2259 1.381332e-206
2 M1B2      1856.0702 1.920282e-210
3 M1B3      7957.4327  0.000000e+00
4 M2B1       437.0170 9.658521e-104
5 M2B2       224.8558  2.701041e-67
6 M2B3       994.6445 7.733567e-161